{% extends 'base.html' %}

{% block content %}
<h2>Course List</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr><th>Code</th><th>Title</th><th>Credits</th><th>Status</th></tr>
        </thead>
        <tbody>
            {% for cp in courses %}
            <tr>
                <td>{{ cp.course.code }}</td>
                <td>{{ cp.course.title }}</td>
                <td>{{ cp.course.credits }}</td>
                <td>{{ cp.course.status_type }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="4">No courses found.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}